<header>
  <nav>
    <div class="container__nav">
      <div class="container__logo">
        <img
          src="../../../../assets/utl-blanco.png"
          alt="Universidad Tecnológica de León"
        />
        <span>Universidad Tecnológica de León</span>
      </div>
      <div class="menu__nav">
        <ul class="list">
          <li class="nav_option">
            <a href=""
              ><img src="../../../../assets/atras.png" alt="Contactanos"
            /></a>
          </li>
          <li class="nav_option">
            <a href=""
              ><img src="../../../../assets/contactanos.png" alt="Contactanos"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
