<app-nav-bar></app-nav-bar>
<div class="section_container header_container">
    <div class="header_content">
      <h4>Administrativos, Empresarios y Egresados UTL</h4>
      <h1>Administradores</h1>
      <div class="card" >
        <div class="card-body">
            <h4 class="card-title">Nuestros administrativos</h4>
            <p class="card-text"><b>Nos encargamos de:</b> </p>
            <br>
            <p class="card-text">Planificar, organizar, dirigir y controlar los diversos aspectos relacionados con la gestión y operación de la institución educativa. Esta área abarca una amplia gama de funciones y procesos esenciales para asegurar el funcionamiento eficiente y efectivo de la universidad en su conjunto.</p>
            <br>
            <p class="card-text">Las principales responsabilidades del área administrativa engloban actividades que van desde la administración de recursos humanos y la gestión financiera, hasta la planificación estratégica y el cumplimiento de regulaciones y leyes pertinentes. Esto implica, por ejemplo, la contratación y supervisión del personal, la elaboración y seguimiento de presupuestos, la planificación a largo plazo de la universidad, la coordinación de procesos de admisión y registro de estudiantes, la gestión de instalaciones y recursos tecnológicos, así como la promoción de la institución y la administración de programas académicos</p>
            <div class="footer">
                <b>Yoloxóchitl Bustamante Díez</b>
                <span>Encargada del Despacho de Rectoría</span>
            </div>
            <div class="foto_card">
                <img
                  src="../../../../assets/ad2.jpg"
                  alt="Yoloxóchitl Bustamante Díez"
                />
              </div>
        </div>
      </div>
      <h1>Labores</h1>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
            <h4>Planificación y Desarrollo Institucional:</h4> 
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Desarrollo y ejecución de planes estratégicos, establecimiento de objetivos a largo plazo, evaluación de metas y objetivos, y desarrollo de políticas institucionales.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
            <h4> Admisión y Registro: </h4> 
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
             Coordinación de los procesos de admisión de estudiantes, matrícula, inscripciones, expedición de credenciales académicas y manejo de expedientes estudiantiles.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
             <h4> Servicios Estudiantiles:</h4> 
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Ofrecer apoyo y recursos a los estudiantes, que pueden incluir asesoramiento académico, orientación vocacional, servicios de bienestar, actividades extracurriculares y otros programas que fomenten el éxito estudiantil.
            </div>
          </div>
        </div>
      </div>
      <br>
      

  </div>
    
</div>
  <app-footer></app-footer>