<app-nav-bar></app-nav-bar>
<div class="section_container header_container">
    <div class="header_content">
      <h4>Noticias UTL</h4>
      <h1>UTL Noticias</h1>
    
      <div class="card" >
        <div class="card-body">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card d-block w-100" >
                        <h3 class="card-title" style="font-weight: 700; color: #021B79;">UTL imparte “Clase Espejo”</h3>
                        <h4>lunes, 6 de Noviembre de 2023</h4>
                        <img src="./../../../../assets/noticia1.PNG"  class="card-img" alt="...">
                        <div class="card-body"> 
                          <p class="card-text">Como parte de los recursos orientados a que el estudiantado de nuestra comunidad viva experiencias globales, el área de Internacionalización de la Universidad Tecnológica de León, en conjunto con la Universidad de Humanismo Cristiano de Chile, implementó, por primera ocasión, la estrategia de “Clase Espejo”; actividad que consiste en la implementación de sesiones online donde participan miembros de distintas instituciones de educación superior en torno a un tema en común. </p>
                           <br>
                           <p class="card-text">En esta ocasión esta sesión se realizó bajo el tema de Derechos Humanos, y es por ello que la Licenciada Adriana Müller, Profesora de asignatura de Derecho Laboral en el área de Administración de Capital Humano de UTL , en conjunto con la Doctora Arlette Reyes, Jefa de la Carrera de Derecho Vespertino de la UAHC  y la Doctora Rosely Stefanes de la Universidad de Humanismo Cristian de Chile, lograron compartir conocimientos y vivencias con las y los estudiantes de ambas instituciones, quienes demostraron sentirse entusiasmados con la posibilidad de compartir e intercambiar experiencias con gente de otras partes del mundo. </p>
                            <br>
                            <p class="card-text">Esta iniciativa, evidencia una vinculación académica que consolida el intercambio de conocimientos y representa una práctica para el ejercicio curricular a distancia, ya que fortalece las nuevas formas de aprendizaje, dando a nuestras y nuestros estudiantes una visión más amplia, al desarrollar de manera efectiva sus competencias y habilidades, obteniendo como resultado una formación académica de calidad.</p>
                        </div>
                      </div>

                  </div>
                  <div class="carousel-item">
                    <div class="card d-block w-100" >
                        <h3 class="card-title" style="font-weight: 700; color: #021B79;">Quinta Edición ‘’Las Catrinas van de viaje 2023’’</h3>
                        <h4>domingo, 29 de Octubre de 2023</h4>
                        <img src="./../../../../assets/noticia3.PNG"  class="card-img" alt="...">
                        <div class="card-body"> 
                          <p class="card-text">Las y los estudiantes de la carrera del TSU en Turismo de nuestra institución realizaron una espectacular pasarela alusiva al Día de Muertos en el emblemático Jardín de los Niños Héroes; este evento se convirtió en una verdadera celebración de nuestra cultura mexicana, donde el estudiantado lució atuendos inspirados en símbolos y elementos representativos de nuestras tradiciones.

                            Los temas de inspiración elegidos por el alumnado fueron representados de manera magistral en sus vestuarios, desde el colorido árbol de la vida hasta la majestuosidad de la mariposa monarca, pasando por el emblemático corazón de San Miguel de Allende, la encantadora muñeca Lele, los elegantes rebozos, el arte prehispánico, los vibrantes alebrijes, la tradicional piñata, el distintivo barro negro, las coloridas artesanías huicholes, la icónica talavera y por supuesto, la emblemática lotería.
                            
                            Este evento logró congregar a un numeroso grupo de personas en donde el talento y la dedicación fueron evidentes en cada detalle de sus atuendos, recibiendo elogios y aplausos por parte del público que presenció la pasarela, incluso, hasta el final del evento, las personas se acercaban para pedirles fotografías.</p>
                           <br>
                           <p class="card-text">Con más de 600 asistentes de la comunidad universitaria, incluyendo estudiantes, egresados, egresadas y profesorado, el evento brindó la oportunidad de acercar a las y los estudiantes que están próximos a realizar sus estadías y de esta manera tener un panorama más amplio con las vacantes y posiciones de trabajo ofrecidas por las empresas presentes, así como ofertas laborales para la comunidad egresada. </p>
                            <br>
                            <p class="card-text">Durante la exposición, se llevaron a cabo de manera simultánea, una serie de conferencias y talleres por parte del personal de las empresas y organismos asistentes con la finalidad fortalecer el desarrollo profesional y las habilidades blandas de los asistentes.</p>
                        </div>
                      </div>
                  </div>
                  
                  <div class="carousel-item">
                    <div class="card d-block w-100" >
                        <h3 class="card-title" style="font-weight: 700; color: #021B79;">Expo Internacional del Empleo y las Estadías UTL 2023</h3>
                        <h4>lunes, 30 de Octubre de 2023</h4>
                        <img src="./../../../../assets/noticia2.PNG"  class="card-img" alt="...">
                        <div class="card-body"> 
                          <p class="card-text">La Universidad Tecnológica de León, a través de los departamentos de Practicas, Estadías e Internacionalización y Bolsa de Trabajo, pertenecientes a la Secretaria de Vinculación, organizaron la “Expo Internacional del Empleo y las Estadías UTL 2023” con el objetivo de establecer un vínculo directo entre las empresas participantes y la comunidad universitaria. </p>
                           <br>
                           <p class="card-text">Con más de 600 asistentes de la comunidad universitaria, incluyendo estudiantes, egresados, egresadas y profesorado, el evento brindó la oportunidad de acercar a las y los estudiantes que están próximos a realizar sus estadías y de esta manera tener un panorama más amplio con las vacantes y posiciones de trabajo ofrecidas por las empresas presentes, así como ofertas laborales para la comunidad egresada. </p>
                            <br>
                            <p class="card-text">Durante la exposición, se llevaron a cabo de manera simultánea, una serie de conferencias y talleres por parte del personal de las empresas y organismos asistentes con la finalidad fortalecer el desarrollo profesional y las habilidades blandas de los asistentes.</p>
                        </div>
                      </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
      </div>
  </div>
    
</div>
  <app-footer></app-footer>
