<nav>
    <div class="nav_logo">
      <a class="navbar-brand logoUtl" href="#">
        <img src="../../../../assets/utl_leon.png"   alt="" width="55" height="54" class="d-inline-block align-text-top   imagen-rotativa">
        <p class="titulo1">Universidad Tecnológica de León</p>
      </a>
    </div>
    <ul class="nav_links">
      <li  class="link" *ngFor="let item of linksMenu" >
        <a [routerLink]="item.router"><i class={{item.icono}}></i> {{item.nombre}}</a>
      </li>
    </ul>
  </nav>
  <hr class="separador"/>
 
  