<app-nav-bar></app-nav-bar>
<div class="section_container header_container">
    <div class="header_content">
      <h4>Dudas, Comentarios, Quejas, Sugerencias y Felicitaciones</h4>
      <h1>Buzón Institucional</h1>
      <h4>Políticas de atención al Buzón Institucional</h4>
      <div class="card" >
        <div class="card-body">
          <ol>
            <li>La solicitud deberá contener redacción clara, congruente y con lenguaje respetuoso, planteamiento bien definido sin ambigüedades.</li>
            <li>Expresar acciones reales, es decir, que sean posibles de llevarse a cabo.</li>
            <li>Deberás escribir datos verídicos, sí el correo de contacto no existe, no habrá manera de contactarte.</li>
            <li>Sí eres; aspirante, alumno(a), ex alumno(a) o egresado(a), te invitamos a identificarte mencionando: folio o matrícula, nombre y carrera.</li>
            <li>Se te deberá dar respuesta en un lapso no mayor a tres días hábiles para que sea considerada como oportuna.</li>
            <li>Una vez recibida la respuesta a tu solicitud, deberás contestar el correo de satisfacción en un período no mayor a tres días, de lo contrario, se registrará como satisfecha.</li>
            <li>Quedarán registradas todas las solicitudes para su atención y seguimiento.</li>
          </ol>
        </div>
      </div>
  </div>
    <div>
        <img src="../../../../assets/contact.png" alt="Buzón Institucional">
    </div>
</div>
  <app-footer></app-footer>