<app-nav-bar></app-nav-bar>
<div class="section_container header_container">
    <div class="header_content">
      <h4>Normativa UTL</h4>
      <h1>Normativa Interna Institucional</h1>
      <div class="tipoNormas">
        <h3>Tipo Normas</h3>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <h4>Ámbito Administrativo</h4>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="menu">
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/resource/documentos/Lineamientos%20Convenios%20y%20Contratos%20UTL.pdf">Lineamientos Convenios y Contratos UTL</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/decreto_240.pdf">Decreto 240</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/reglamento_interior_de_la_universidad_tecnologica_de_leon.pdf">Reglamento Interior UTL</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/reglamento_del_consejo_directivo.pdf">Reglamento Consejo Directivo</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/Reglamento_de_IngresosPropios.pdf">Reglamento Ingresos Propios</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/REGLAMENTO%20RIPPPA.pdf">Reglamento RIPPPA</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/codigo_conducta_UTL.pdf">Código Conducta</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/politicas/Politicas%20para%20Establecer%20la%20Carga%20Academica%202019.pdf">Política Carga Academica Docentes UTL</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/resource/documentos/Politicas%20Estacionamiento%2001.pdf">Políticas Estacionamiento</a></span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <h4>Ámbito Educativo</h4>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="menu">
                    
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/decreto_240.pdf">Decreto 240</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/reglamento_interior_de_la_universidad_tecnologica_de_leon.pdf">Reglamento Interior UTL</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/reglamento_del_consejo_directivo.pdf">Reglamento Ácademico</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/Reglamento_de_IngresosPropios.pdf">Reglamento Servicios Bibliotecarios</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/REGLAMENTO%20RIPPPA.pdf">Lineamientos Generales Centro Información</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/codigo_conducta_UTL.pdf">Presea León UTL</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/politicas/Politicas%20para%20Establecer%20la%20Carga%20Academica%202019.pdf">Presea Moneda UTL</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/resource/documentos/Politicas%20Estacionamiento%2001.pdf">Reglamento Deportivo</a></span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <h4>Ámbito Laboral</h4>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="menu">
                    
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/decreto_240.pdf">Decreto 240</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/reglamento_interior_de_la_universidad_tecnologica_de_leon.pdf">Reglamento Interior UTL</a></span></p>
                    <p><span><a class="sitios" href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/reglamento_del_consejo_directivo.pdf">Contrato Colectivo</a></span></p>
                 </div>
              </div>
            </div>
          </div>
        </div>
      
      
       </div>
    
       
  </div>
 
</div>
  <app-footer></app-footer>