html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 450px;
  object-fit: initial;
  background-position: center;
  background-image: url("../../../../assets/Conoce la UTL.png");

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.banner div {
  color: #ffffff;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.banner span {
  font-style: italic;
}

.card_rectora {
  width: 95%;
  height: 450px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 1rem;
}

.info,
.foto_card {
  width: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info b {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.info p {
  font-size: 11px;
  text-align: justify;
  margin-top: 0.25rem;
  margin-left: 1.5rem;
  margin-bottom: 0.25rem;
}

.info span {
  text-align: center;
}

.foto_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto_card img {
  width: 450px;
  border-radius: 16px;
}

.footer {
  text-align: center;
  font-size: 10px;
}

h2,
h3,
h4 {
  font-weight: bold;
  color: #000033;
}

h3 {
  text-align: center;
}

.filosofia {
  width: 100%;
}

.accordion {
  width: 100%;
  margin-top: 0.5rem;
}

.accordion-button {
  padding: 0.5rem;
}

.accordion-body {
  font-size: 11px;
  text-align: justify;
  padding: 0.25rem;
}

ul {
  margin-left: 1rem;
}

.card_plantel {
  width: 350px;
  height: 285px;
  margin: 1rem;
  padding: 1rem;
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 14px;
}

.body p {
  font-size: 11px;
  height: 85px;
  margin-top: 0.5rem;
}

.body h4 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.container_icon img {
  width: 100px;
}

.btn button {
  width: 180px;
  margin-top: 0.25rem;
  border: none;
  border-radius: 5px;
  padding: 0.25rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #000033;
}

.container_planteles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
